# Copyright (C) 2026 Maxim [maxirmx] Samsonov (www.sw.consulting)
# All rights reserved.
# This file is a part of the Sarafan application

.dockerignore
.git
.gitignore
.github
.npm
coverage
dist
node_modules
README.md
